version: '3.9'
services:
  web:
    build: .
    command: npm run dev
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: file:./dev.db
      TEST_USDT_ADDRESS: USDT-TEST-ADDRESS-1234567890
      NEXT_PUBLIC_APP_URL: http://localhost:3000
    volumes:
      - .:/app
      - /app/node_modules
